# Ignore Gradle project-specific cache directory
.gradle
buildSrc/.gradle

# Ignore Gradle build output directory
buildSrc/build
core/build
doma/build
compat/build
module/build
publish/build
compat/*/build
module/*/build
build

# Ignore Gradle build output directory
core/.settings

.idea

run

core/.bin

*.log
